@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

:root {
    --font-navbar: 'Oswald', sans-serif;
    --font-family: 'Poppins', sans-serif;

    --color-bg: #222831;
    --color-pr: #EEEEEE;
    --color-sc: #00ADB5;
    --color-sc-dark: #095E62;
    --color-text: rgba(238, 238, 238, 0.75);
    --color-bg-btn: rgba(57, 62, 70, 0.5);
    --color-icon: #393E46;

    --text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
}